.header__wrapper h1{
    color: #DD5353;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
.header__wrapper{
    height: inherit;
    width: inherit;
    background-color: #E2AFDE;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
