.header__wrapper h1{
    color: #DD5353;
    letter-spacing: .1rem;
    text-transform: uppercase;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.header__wrapper{
    height: 3rem;
    width: 100vw;
    background-color: #E2AFDE;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    position: relative;
}
