.header__wrapper h1{
    color: #DD5353;
    letter-spacing: .1rem;
    text-transform: uppercase;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.header__wrapper{
    height: 3rem;
    width: 100vw;
    background-color: #E2AFDE;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.header__button{
    width: 10rem;
    background-color: #F991CC;
    border-radius: 1rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}
.header__button > h3{
    /* disp */
}
.header__button:hover{
    background-color: #D3D2C7;
    cursor: pointer;
}
