.footer{
    width:inherit;
    height: inherit;
    background-color: #F991CC;
    padding: .5rem;
}

h4{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(43, 42, 42);
}