.App{
   background-color: antiquewhite;
   width: fit-content;
 
}

.app__main--section{
    display: flex;
    justify-content:  flex-start;
}

.app__recipe--list{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: .5rem;
    /* height: 80; */
}

