.App{
   width: fit-content;
   display: flex;
   flex-direction: column;
 
}
.app__recipe--list{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: .5rem;
    height: inherit;
}

.app__middle{
    flex: 1;
}

