.App{
    display: grid;
    height: 100%;
    /* let content auto to occupy remaining height and pass value in fit-content with min-height for header and footer */
    grid-template-rows: fit-content auto 1.5rem;
    grid-template-areas:"header" "main" "footer";
}
.app__recipe--list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5rem;
}

.app__header{
    /* height: fit-content; */
    grid-area: header;
}

.app__middle{
    grid-area: main;
}
.app__footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    grid-area: footer;
}